<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap/3.3.6/bootstrap.min.css" />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <style>
            .done {
                text-decoration: line-through;
                color: #ff0000;
            }
        </style>
    
    <script src="/js/vue.js"></script>
</head>

<body id="change">
    <div id="app">
        <div class="col-md-3 col-md-offset-1" style="min-height: 800px">
                    <ul class="mynav">
                           <li><img src="/images/pic3.jpg" style="border-radius:100%; width:50px;height: 50px;float: left;margin-left:30px " >
                            <span>{{username}}</span>
                               <a  type="button" href="/logout" class="btn btn-info" style="float:right;margin: 15px 20px 0 0">注销</a> 
                           </li>
                           <li><input class="form-control" style="height:100%" type="text" v-if="isSearch" value="search" v-model="searchname" @keyup.Enter="search(searchname)" @blur="isSearch=false;searchname='';isSearch=false" placeholder="请输入代办事项名" style="text-align: center">
                                <button v-else @click="isSearch=true" class="btn btn-info btn-block" style="height:100%">搜索</button></li>
                           <li v-for="list,index in lists" @click="selectlist(index)" :class="{'active':lindex===index}">
                               {{list.lname}}
                           </li>

                            <input type="text" style="text-align: center" class="form-control" @keyup.Enter="addList()" v-model="listname" placeholder="新建清单">
                    </ul>
            </div>
            <div class="col-md-7" style="min-height: 600px;background-color:rgba(255, 255,255,0.7);margin-top: 30px" >
                <div style="border-bottom: black;border-bottom:solid 2px;">
                    <div class="page-content">
                        <h1 style="margin-left: 60px">{{lists[lindex].lname}}
                                <button type="button" class="btn btn-info" style="float:right" @click="show=!show">
                                        {{GetShowName()}}
                                    <span  v-if="!show"></span>
                                </button>
                                <button  @click="changecolor()" style="float: right" class="btn btn-info">更改颜色</button>
                                <button  @click="deleteList()" v-if="lindex>1" style="float: right" class="btn btn-info">删除</button>
                        </h1>
                        
                    </div>
                </div>
                    <button @click="queren()" class="btn btn-info pull-right" >确认修改</button>
                    <button style="float:right;" @click="sort()" class="btn btn-info">排序</button>
                <div v-if="!isSearch">
                    <ul>
                        <li><input type="text" class="form-control" v-model="thingname" @keyup.Enter="addThing()" placeholder="添加代办事项">
                            
                        </li>
                        <li v-for="thing,index in lists[lindex].things" v-if="showDone(thing)" style="height: 40px;">
                                <input style="height:16px;width:16px;" type="checkbox" @click="finish(index)" :checked="thing.done">
                                <span class="thing-style" :class="{'done':thing.done}">
                                <span>{{thing.tname}}</span>
                                <!-- <input type="text" v-model="thing.tname"> -->
                                <span>{{thing.date}}</span>
                                </span>
                                <input type="date" v-model="thing_date" v-if="thing.date===''"></input>
                                <button @click="confirm(index)" class="btn btn-info pull-right" v-if="thing.date===''">确认</button>
                                <button @click="editThings(index)" class="btn btn-info pull-right" >修改</button>
                                
                        </li>
                    </ul>
                </div>
                <div v-else>
                    <li v-for="thing in searchThing" style="font-size: 50px">
                            {{thing}}
                    </li>
                </div>

            </div>
            
    </div>
  
    </body>  
<script>
var store = {
    save(key, value) { 
        localStorage.setItem(key, JSON.stringify(value));
    },
    fetch(key) { 
        return JSON.parse(localStorage.getItem(key)) || [];
    }
}

var vm = new Vue({
    el: '#app',
    data: {
        ischange:false,
        listname:'',
        lists:[{
            lname:"我的一天",
            things:[]
        },
        {
            lname:"To-Do",
            things:[] 
        }
        ],
        lindex:0,
        thingname:'',
        thing_date:'',
        show: true,
        isSearch: false,
        searchname: '',
        searchThing: [],
        username:'',
        Thingindex:''
        
    },

    watch: {
        lists: {
            handler: function() {
                store.save('vue-dotolist', this.lists);
            },
            deep: true
        }
    },
    mounted:function(){
        if(store.fetch('vue-dotolist').length>0)
        this.lists=store.fetch('vue-dotolist');
        
        var getUserName=this.getUserName;
        $.get('/user',function(data){
            getUserName(data);
        });
    },
    methods: {
        deleteList:function(){
            this.lists.splice(this.lindex,1);
            this.lindex--;
        },
        getUserName:function(data){
            this.username=data;
        },
        addList(){
            var list={
                lname:this.listname,
                things:[]
                }
            
            this.lists.push(list);
            this.listname='';
        },
        selectlist(index){
            this.lindex=index;
        },
        addThing:function(){
            var thing={
                tname:this.thingname,
                date:'',
                days:'',
                done: false,
            }
            this.lists[this.lindex].things.push(thing);
            this.thingname=''
        },
        finish: function(index) {
            var done = this.lists[this.lindex].things[index].done;
            this.lists[this.lindex].things[index].done = !done;
        },
        showDone: function(thing) {
            return !thing.done || this.show;
        },
        changecolor:function(){
            if(this.ischange===false){
                 document.getElementById("change").style.background=" #acd0c8"
                 this.ischange = !this.ischange
            }else(
                document.getElementById("change").style.background=" #aeb8fb",
                this.ischange = !this.ischange
            )
        }, 
        search: function(searchname) {
            this.isSearch = true;
            this.searchThing.splice(0, this.searchThing.length);
            for (list in this.lists) {
                var things = this.lists[list];
                for (thing in things.things) {
                    var th = things.things[thing];
                    if (th.tname.indexOf(searchname) != -1) {
                        this.searchThing.push(th.tname);
                    }
                }
            }
        },
        confirm:function(index){
            this.lists[this.lindex].things[index].date = this.thing_date;
        },
        getFormatYMD:function(timesamp){
			var date = new Date(timesamp);
			Y = date.getFullYear() + '-';
			M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			D = date.getDate();
			D= D.toString().length==1 ? '0'+D:D;
			return Y+M+D;
        },
        GetShowName:function(){
            if(this.show)
                return '隐藏';
            return '取消隐藏';
        },
        sort:function(){
            for(var i=0;i<this.lists[this.lindex].things.length;i++){
                var add_date = this.lists[this.lindex].things[i].date;
                var now_date=this.getFormatYMD(Date.parse(new Date()));
                var sArr = now_date.split("-");
                var eArr = add_date.split("-");
                var sRDate = new Date(sArr[0], sArr[1], sArr[2]);
                var eRDate = new Date(eArr[0], eArr[1], eArr[2]);
                var days =  parseInt((eRDate-sRDate)/(24*60*60*1000));
                this.lists[this.lindex].things[i].days = days;

            }
            
			// var matter = new Array();
	        for(var i=0;i<this.lists[this.lindex].things.length;i++) {
	            for(var j=i+1;j<this.lists[this.lindex].things.length;j++) {
	                if(this.lists[this.lindex].things[i].days>this.lists[this.lindex].things[j].days) {
                        this.lists[this.lindex].things[i]=this.lists[this.lindex].things.splice(j,1,this.lists[this.lindex].things[i])[0];
	                }
                }
                
	        }
        },
        editThings(index){
            this.thingname=this.lists[this.lindex].things[index].tname;
            this.Thingindex=index;
        },
        queren:function(){
           this.lists[this.lindex].things[this.Thingindex].tname=this.thingname;
           this.thingname='';
        }

    },
    
});

function watchHashChange() {
    var hash = window.location.hash.slice(1);
    vm.visibility = hash;
    //console.log(hash)
}


watchHashChange();

window.addEventListener('hashchange', watchHashChange);

</script>
</html>